html {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.PaginaPrincipal {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width:70%;
  margin: 0 auto;
}

.App-link {
  color: #61dafb;
}

button {
  font-size: calc(10px + 2vmin);
}

.navbar {
  width:100%;
  height:3rem;
  background:white;
  border: 1px solid #282c34;
  border-radius: 8px;
}

.PaginaPrincipa {
  display:flex;
  flex-direction:column;
  width:70%;
  margin: 0 auto;
}

.productList{
  display:flex;
  width:100%;
  justify-content:space-between;
  flex-wrap: wrap;
}

.produto {
  background-color: #282c34;
  width:30%;
  background: gainsboro;
  border: 1px solid #eee;
  border-radius: 10px;
  color: #282c34;
  min-height: 30rem;
  margin-bottom: 1rem;
}

.title {
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: #fff;
}

.title .nomeloja {
  padding: 1rem;
  border: 3px solid green;
  border-radius: 10px;
}

.botaoteste {
  background-color:	#00FF7F;
  border: 1px solid #282c34;
  border-radius: 10px;
  margin-top: 0.8rem;
  font-size: large;
}

.carrinho {
  color: #fff;
}